.cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-datos {
  width: 500px;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.campo-container {
  padding-bottom: 6px;
}

.feedback {
  padding-left: 5px;
  color: red;
  padding-bottom: 6px;
  font-size: small;
}

.adivinanza-container {
  text-align: center;
}

li {
  list-style-type: none;
  font-size: large;
  text-align: center;
}


